#navList{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}

.navContainer{
    width: 100vw;
    /* background-color: rgba(113, 113, 154, 0.776); */
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
}

#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navLogo{
    font-size: 2.8rem;
    color: azure;
}

a{
    text-decoration: none;
    color: azure;
}

#navItems{
    display: flex;
    gap: 40px;
}
footer{
    width: 100%;
}
.footerBox{
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.footerBox p {
color: azure;
font-size: 2rem;
}
.contentBox{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    background-color: white; 
    display: flex;
    flex-direction: column;
    gap: 100px;
}
    .item{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .rightBox{
        height: 400px;
        border-radius: 20px;
    }

    .leftBox{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .leftBox h2{
        font-size: 2rem;
    }
    .ingBox{
        font-size: 1.4;
    }